<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel:wght@500&family=Cormorant:wght@300&family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
  <div class="backendNavbar">
    <a href="/users/signup">SECURE SIGNUP</a>|
    <a href="/users/Login">SECURE LOGIN</a>|
    <a href="/users/profile">PRIVATE PROFILE</a>|
    <a href="/posts">PRIVATE NOTES</a>|
    <a href="/users/Admin">ADMIN</a>|
    <a href="/users/logout">LOGOUT</a>|
    <a href="https://www.google.com/"><button class="quickExit">EXIT SITE</a></button>
  </div>
  <hr />
  {{{body}}}
</body>

</html>
