{{!-- <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<h1>Full List of Users</h1>
{{#each users}}
<h3>username: {{Username}}</h3> 
<h3>firstName: {{FirstName}} <a href="users/profile/{{UserId}}">link</a></h3>
{{/each}} --}}