* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f9e8e2;
    background: linear-gradient(45deg, #202020, black, rgb(253, 213, 226), black, #202020);
}
/* .container-list
{
    position: relative;
} */
.Navbar {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    /* background: yellow; */
    justify-content: center;
    align-items: center;
}

.Navbar li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    /* transition: 0.5s; */
    /* transform: rotate(calc(360deg / 8 * var(--i))); */
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(80px);
}

.toggle {
    display: flex;
    position: absolute;
    width: 105px;
    height: 105px;
    background: #15797D;
    background: #967C4B;
    background-image: url("../img/RoseLicensedAdobeStock_479715727.jpeg");
    background-size: 215px;
    background-position: center; 
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    /* cursor: pointer; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    transition: transform 1.25s;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    font-family: 'Cinzel', serif;
    /* font-family: 'Cormorant', serif; */
}

.toggle:hover {
    box-shadow:
        0 0 10px 3px #202020,
        /* inner glow */
        0 0 10px 5px rgb(2, 241, 170),
        /* middle glow */
        0 0 40px 15px aquamarine;
    /* outer glow */
}

.Navbar.active li {
    /* position: absolute;
        left: 0;
        list-style: none;
        transform-origin: 100px; */
    transform: rotate(calc(360deg / 8 * var(--i)));
    /* transition: transform 0.5s; */
}

.Navbar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    background-color: #202020;
    color: #f9e8e2;
    transform: rotate(calc(360deg / -8 * var(--i)));
    transition: 0.5s;
}

.Navbar li a:hover {
    /* color: rgb(255, 165, 195); */
    /* color: rgb(238, 150, 194); */
    color: rgb(252, 134, 119);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F9E8E2;
    box-shadow:
        0 0 5px 2px #202020,
        /* inner glow */
        0 0 10px 5px rgb(2, 241, 170),
        /* middle glow */
        0 0 40px 15px aquamarine;
    /* outer glow */
}

.safetyText {
    font-weight: bolder;
    font-size: 6px;
    font-family: 'Cinzel', serif;
    /* transform: rotate(360deg); */
}

.Navbar.active .toggle {
    /* transform: rotate(calc(315deg / 8 * var(--i))); */
    transform: rotate(315deg);

}

a {
    /* color: #f9e8e2; */
    /* color: #202020; */
    color: black;
    font-weight: bolder;
}

.Navbar li a:hover {
    /* color: rgb(255, 165, 195); */
    /* color: rgb(238, 150, 194); */
    color: rgb(250, 156, 144);
}

Navbar li a:visited {
    color: none;
}

/* a:active
{
color: #15797d;
} */